<?xml version="1.0"?>
<config>
  <modules>
    <CP_Ordermapmarker>
      <version>1.0.0</version>
    </CP_Ordermapmarker>
  </modules>
  <frontend>
    <routers>
      <ordermapmarker>
        <use>standard</use>
          <args>
            <module>CP_Ordermapmarker</module>
            <frontName>ordermapmarker</frontName>
          </args>
      </ordermapmarker>
    </routers>
		<layout>
		  <updates>
			<ordermapmarker>
			  <file>ordermapmarker.xml</file>
			</ordermapmarker>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <ordermapmarker>
        <class>CP_Ordermapmarker_Helper</class>
      </ordermapmarker>
    </helpers>
	<blocks>
	  <ordermapmarker>
		<class>CP_Ordermapmarker_Block</class>
	  </ordermapmarker>
	</blocks>
	<models>
	  <ordermapmarker>
		<class>CP_Ordermapmarker_Model</class>
		<resourceModel>ordermapmarker_mysql4</resourceModel>
	  </ordermapmarker>
	</models>
    <events>
	  <sales_order_place_after> 
        <observers>
          <sales_order_place_after_handler> 
            <type>model</type> 
            <class>ordermapmarker/observer</class>
            <method>createOrderAddressPin</method>
            <args></args>
          </sales_order_place_after_handler>
        </observers>
      </sales_order_place_after>
    </events>
  </global>
</config> 